<div class="banner">
  <div class="container">
    <h2><%= t ".about_us" %></h2>
    <p><%= t ".lorem" %></p>
    <%= link_to t(".back_to_home"), root_path, class: "about-btn" %>
    <%= link_to t(".contact_us"), contact_path, class: "about-btn" %>
  </div>
</div>
