<div class="banner">
  <div class="container">
    <h2><%= t ".welcome" %></h2>
    <p><%= t ".lorem" %></p>
    <%= link_to t(".signup"), new_user_registration_path %>
    <%= link_to t(".signin"), new_user_session_path %>
  </div>
</div>
