<div class="banner">
  <div class="container">
    <h2><%= t ".welcome" %></h2>
    <p><%= t ".lorem" %></p>
    <a href="#"><%= t ".signup" %></a>
    <a href="#"><%= t ".signin" %></a>
  </div>
</div>
