<li class="user user-<%= user.id %> col-md-6">
  <figure><%= image_tag user.avatar %></figure>
  <div class="info">
    <%= link_to user.name, user, class: "user-name" %>
    <%= content_tag :div, user.email, class: "email" %>
  </div>
</li>
