$white: #fff;
$white-btn: rgba(255, 255, 255, .32);
$black-hover-btn: rgba(70, 70, 70, .67);
$black-border-hover: #464646;
$error-red: #ff8d8d;
$main-orange: #fa4b2a;
$line-grey: #e5e5e5;
$devine-grey: #aeaeae;
$btn-background: #f6f7f9;
$btn-hover: #dddfe2;
