@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';
@import 'placeholder';

@mixin notice {
  border-radius: 15px;
  margin-top: 5px;
  padding: 10px 20px;
  text-align: center;

  .glyphicon {
    font-size: 30px;
    margin-right: 15px;
    vertical-align: middle;
  }
}

.notice-success,
.notice-notice {
  @include notice;
  background: $success-green-bg;

  .glyphicon {
    color: $success-green;
  }

  .message {
    color: $success-green;
    font-size: 18px;
  }
}

.notice-danger,
.notice-alert {
  @include notice;
  background-color: $danger-red-bg;

  .glyphicon {
    color: $danger-red;
  }

  .message {
    color: $danger-red;
    font-size: 18px;
  }
}

.user {
  .field {
    text-align: left;

    .field-with-errors {
      @extend %label-ph;
      @extend %input-ph;
    }

    label {
      color: $white;
    }

    .pass-validate {
      color: $white;
    }

    input {
      width: 100%;
    }

    i {
      color: $white;
    }
  }

  .avatar {
    padding-top: 10px;
    position: relative;
    text-align: left;

    label {
      color: $white;
      display: block;
    }

    .picture {
      @extend %avatar-ph;
      display: inline-block;
    }
  }

  .error-explanation {
    padding-top: 10px;

    h2 {
      color: $error-red;
      font-size: 1.5em;
    }

    .err-messages {
      color: $error-red;
      list-style: none;
    }
  }

  .remember {
    color: $white;
    text-align: left;
  }

  .actions {
    margin-top: 30px;

    .bt {
      background: $white-btn;
      border: 2px solid $white;
      color: $white;
      font-size: 1em;
      font-weight: 600;
      height: 48px;
      width: 110px;
    }

    .bt:hover {
      background: $black-hover-btn;
      border: 2px solid $black-border-hover;
      color: $white;
    }

    .or {
      color: $white;
      padding: 0 10px;
    }
  }
}

.profile {
  background: url('cover.jpg');
  margin: 2em 1.6em 2em 2.65em;
  padding: 2em;

  .profile-pic {
    img {
      border: 4px solid $white;
      border-radius: 15px;
      height: 160px;
      object-fit: cover;
      width: 160px;
    }
  }

  .profile-info {
    padding-top: 5px;

    .line {
      @extend %profile-info-a-ph;
      color: $white;
    }

    .name {
      display: inline-block;
      font: bold 20px Roboto Condensed;
      margin-right: 20px;
      vertical-align: bottom;
    }

    .follow-act-form {
      @extend %follow-act-form-ph;
      display: inline-block;
    }

    .email {
      margin: 20px 0;
    }

    .stats {
      @extend %stats-a-ph;
    }
  }
}

.follows {
  margin: 2em 0;
}

.new-post-form {
  background-color: $white;
  margin: 2em 1.6em 2em 2.65em;
  padding: 2em;

  .create-post {
    border-bottom: 1px solid $devine-grey;
    font-size: 1.7em;
    padding-bottom: 10px;
  }

  .title {
    border: 0;
    margin-left: 10px;
    padding: 10px;
    width: 100%;

    &:focus {
      outline: 0;
    }
  }

  .content {
    border: 0;
    border-top: 1px solid $line-grey;
    height: 7em;
    margin-left: 10px;
    padding: 10px;
    resize: none;
    width: 97%;

    &:focus {
      outline: 0;
    }
  }

  .tag-box {
    border: 0;
    margin-left: 10px;
    padding: 10px;
    width: 97%;

    &:focus {
      outline: 0;
    }
  }

  .actions {
    border-top: 1px solid $line-grey;
    margin: 0 10px;
    padding: 0 10px;

    .bt {
      @extend %action-bt-ph;
      background-color: $btn-background;
      border-radius: 16px;
      cursor: pointer;
      font-weight: normal;
      padding: 5px 20px;
    }

    .pic-upload {
      display: none;
    }

    .post,
    .save {
      border: 0;
      float: right;
      margin-top: 5px;
    }
  }
}

.display-comment {
  list-style: none;
  padding-top: 5px;

  li {
    @extend %display-cmt-a-ph;
    height: 50px;
    padding-bottom: 10px;

    .edit-comment {
      @extend %edit-comment-ph;
      display: block;
      float: left;
      margin: 5px 0 0 9px;
      width: 93%;
    }

    .info {
      @extend %display-cmt-info-child-ph;
      float: left;
      padding-left: 10px;
      width: 94%;
    }
  }
}

.create-comment {
  clear: both;
  padding-top: 10px;

  img {
    display: inline-block;
    height: 40px;
    object-fit: cover;
    width: 40px;
  }

  .new-comment {
    display: inline;

    .cmt-box {
      margin-left: 6px;
      width: 93%;
    }

    .btn-cmt {
      display: none;
    }
  }
}

.likes {
  position: relative;

  .new-like {
    width: 4em;
  }

  .likes-size {
    float: left;
    margin-right: 3px;
  }

  .unlike-btn {
    color: $main-orange;
    font-weight: bold;

    &:hover {
      color: $black-text;
    }
  }

  .btn-like {
    background: none;
    border: 0;
    padding: 0;

    &:hover {
      color: $main-orange;
    }
  }

  .like-icon {
    bottom: 2px;
    margin-left: 4px;
    position: absolute;
    width: 24px;
  }
}

.users {
  background: $white;
  list-style: none;
  margin: 2em 0;

  .user {
    padding: 10px 15px;

    figure {
      @extend %figure-child;
      display: inline-block;
      float: left;
      position: relative;
    }

    .info {
      @extend %user-info-ph;
      float: left;
    }

    @keyframes shine {
      100% {
        right: 100%;
      }
    }

    img {
      border: 4px solid $main-orange;
      border-radius: 15px;
      height: 100px;
      object-fit: cover;
      width: 100px;
    }
  }

  .info {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    z-index: 100;

    .user-name {
      @extend %user-name-ph;
      color: $main-orange;
      font-weight: bold;
    }
  }
}

.statistics {
  background: $white;
  margin: 1em 0;
  padding: 15px 0;
  text-align: center;

  h3 {
    font-weight: bold;
    padding-bottom: 15px;
  }

  span {
    font-size: 20px;
  }
}
