@import 'color';

@mixin tooltip {
  bottom: 100%;
  content: '';
  pointer-events: none;
  position: absolute;
}

%actions-tooltip {
  &::after {
    @include tooltip;
    border: 5px solid transparent;
    border-bottom-color: $white;
    right: 16%;
  }

  &::before {
    @include tooltip;
    border: 7px solid transparent;
    border-bottom-color: $devine-grey;
    right: 13%;
  }
}

%label-ph {
  label {
    color: $error-red;
  }
}

%input-ph {
  input {
    background-color: $error-red;
  }
}

%avatar-ph {
  &:hover {
    label {
      background: $black-hover-btn;
      display: block;
      height: 40px;
      margin: 4px;
      padding: 10px 12px;
    }
  }

  img {
    border: 4px solid $white;
    border-radius: 2px;
    height: 130px;
    object-fit: cover;
    width: 130px;
  }

  .change-btn {
    bottom: 0;
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
  }

  input {
    display: none;
    padding-left: 15px;
    vertical-align: bottom;
  }
}

%profile-info-a-ph {
  a {
    border: 1px solid $main-orange;
    border-radius: 2px;
    color: $main-orange;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
    padding: 0 20px;

    &:hover {
      background-color: $main-orange;
      color: $white;
    }
  }
}

%action-bt-ph {
  &:hover {
    background-color: $btn-hover;
    color: $main-orange;
    transition: .5s all;
  }

  i {
    color: $main-orange;
  }
}

%display-cmt-a-ph {
  a {
    display: inline-block;
    float: left;

    img {
      height: 40px;
      object-fit: cover;
      width: 40px;
    }
  }
}

%display-cmt-info-child-ph {
  &:hover {
    .action-btn {
      display: block;
    }
  }

  .user {
    a {
      color: $main-orange;
      font-weight: bold;
    }
  }

  .content {
    padding-left: 5px;
  }

  .action-btn {
    color: $main-orange;
    display: none;
    float: right;
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    text-align: right;

    .actions {
      @extend %actions-tooltip;
      border: 1px solid $devine-grey;
      font-size: 13px;
      left: initial;
      margin: initial;
      min-width: initial;
      padding: 10px 20px;
      position: absolute;
      right: 0;
      top: 150%;
    }
  }

  .timestamp {
    display: block;
  }
}

%user-name-ph {
  &:hover {
    text-decoration: underline;
  }
}

%figure-child {
  &::before {
    background: linear-gradient(to right, $first-gradient 0%, $second-gradient 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: -50%;
    top: 0;
    transform: skewX(-25deg);
    width: 40%;
    z-index: 2;
  }

  &:hover::before {
    animation: shine .5s;
  }
}

%follow-act-form-ph {
  .follow-btn {
    background: $main-orange;
    border-color: $main-orange;
    padding: 3px 12px;
    width: 120px;

    &:hover {
      background-color: $hover-orange;
    }
  }

  .unfollow-btn {
    background: transparent;
    border-color: $main-orange;
    color: $white;
    padding: 3px 12px;
    width: 120px;

    &:hover {
      background-color: $main-orange;
    }
  }
}

%stats-a-ph {
  a {
    color: $white;
  }
}

%user-info-ph {
  .del-user {
    background: $main-orange;
    border-color: $main-orange;
    color: $white;
    padding: 2px 15px;

    &:hover {
      background: $hover-orange;
    }
  }
}
